/* $primary: #63264a;
$secondary: #c0d684;
$dark: #0D1f22;
$warning: #b38458;
$light: #f3f9d2;


$dark-primary: #3d0b37;
$dark-secondary: #264027;

$body-color: $dark; */

$petroleo-oscuro: #0D1F22;
$purpura-primary: #63264A;
$purpura-dark:    #3D0B37;
$verde-oliva:     #6F732F;
$crema-light:     #F3F9D2;


$text-main: #1E2B2D; 