 @use 'abstracts/variables' as var;
 @use 'base/typography';
 @use 'layout/layout';
 @use 'components/components';

 @use '../../node_modules/bootstrap/scss/bootstrap.scss' with (
   $primary: var.$purpura-primary,
   $light: var.$crema-light,
   $body-color: var.$text-main,
   $headings-color: var.$petroleo-oscuro,
   $link-color: var.$purpura-primary,
   $link-hover-color: var.$purpura-dark,
   $link-decoration: none,

   $font-family-sans-serif: ("Futura LT Book", sans-serif),
   $headings-font-family: ("Futura LT Condensed", sans-serif),
   $headings-font-weight: 600, //
   $font-weight-normal: 400,
   $font-weight-medium: 500,

   $figure-caption-font-size: 0.6rem,
 );

 





 

