 @use 'abstracts/variables' as var;
/*@use 'base/typography';
@use 'abstracts/mixins' as mix;
@use 'components/components';
@use 'layout/layout'; */


@use '../../node_modules/bootstrap/scss/bootstrap.scss' with(
   $primary: var.$primary,
   $secondary: var.$secondary,
   $warning: var.$warning,

   $light: var.$light,
   $dark: var.$dark
);

@media (min-width: 992px) {
  .navbar-expand-lg {
    > .container {  
      display: grid;
      grid-template-columns: repeat(6, 1fr);
    }
  }
}