* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  line-height: 1.6;
  color: #323232;
  max-width: 1400px;
  margin: 0 auto;
}

header {
  text-align: center;
  padding: 1em;
  background-color: antiquewhite;
}

.logo {
  width: 200px;
}

.hero {
  width: 100%;
  height: 80vh;
  position: relative;
  overflow: hidden;
}

.bg-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;

}

.mensaje {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 1em;
}
p{
  font-size: 1.3rem;
}


.contacto{
  width: 40px;
}


/*==========================*/



.paisajes__title{
  margin: 2em auto;
  text-align: center;
}

.container{
  width: 90%;
  margin: 0 auto;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
}

.card{
  flex-basis: 230px;
  border: solid 1px lightgray;
  border-radius: 5px;
  padding: 1em;
  box-shadow: 4px 4px 6px black;
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: rgb(245, 243, 243);
}
.card:hover{
  transform: scale(1.05);
}
.card__image{
  width: 100%;
  aspect-ratio: 1.2/1;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.contacto__paisajes{
  width: 90%;
  margin: 1em auto;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.contacto__link{
  width: 40px;
  margin-inline: 1em;
}
.contacto__link:hover{
  background-color: rgb(235, 184, 118);
  border-radius: 50%;
  padding: .3em;
  transform: scale(1.2);
}