* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  line-height: 1.6;
  color: #323232;
}

header {
  text-align: center;
  padding: 1em;
  background-color: antiquewhite;
}

.logo {
  width: 250px;
}

.hero {
  width: 100%;
  height: 80vh;
  position: relative;
  overflow: hidden;
}

.bg-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;

}

.mensaje {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 1em;
}
p{
  font-size: 1.3rem;
}


.contacto{
  width: 40px;
}